@import '../../common/styles/colors.scss';
@import '../../common/styles/fonts.scss';

.dropdown-container {
  position: relative;
  width: 100%;
  max-width: 150px;
  cursor: pointer;
  &__option-selected,
  &__inner-options {
    border: 2px solid $color-black;
    background-color: $color-white;
    width: 100%;
    box-sizing: border-box;
    & > * {
      padding: 5px 10px;
      font-weight: 200;
      font-size: $reducer-text-font-size;
    }
  }

  &__option-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0px;
      text-align: center;
      display: block;
      width: 100%;
    }
  }

  &__inner-options {
    position: absolute;
    z-index: 1;
    border-top: none;
    border-bottom: none;
    p {
      margin: 0px;
      padding: 10px 5px;
      border-bottom: 2px solid $color-black;
      text-align: center;
      font-weight: 200;
    }
  }
}
