@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.overlay-container {
  background-size: contain;
  background-repeat: no-repeat;
}

.list-container {
  margin: 20px 0px;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 5%, $color-dark-gray 20%);

  &__upper-content,
  .upper-content {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;

    &__summary,
    &__side-actions {
      padding: 5px 10px;
    }

    &__summary {
      & > * {
        margin: 0px;
        color: $color-white;
      }
      h2 {
        font-size: $regular-title-font-size;
      }
      p {
        padding-top: 10px;
        font-weight: 200;
      }
    }
  }
  &__gauge-bar,
  .gauge-bar {
    display: flex;

    &__positive,
    &__negative {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px 0px;
      p {
        margin: 0px;
        color: $color-white;
        font-size: $banner-title-font-size;
        font-weight: 200;
      }
    }

    &__positive {
      background-color: $color-green-gauge-bar;
    }

    &__negative {
      flex-flow: row-reverse;
      background-color: $color-yellow-gauge-bar;
    }
  }
}
