@import '../../common/colors.scss';
@import '../../common/fonts.scss';

.overlay-container {
  background-repeat: no-repeat;
  &--list {
    background-size: contain;
  }

  &--grid {
    display: flex;
    background-size: cover;
    background-position: center;
  }
}

.list-container {
  &--list {
    margin-bottom: 20px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 5%, $color-dark-gray 20%);
  }

  &--grid {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-color: $color-dark-background;
  }

  &__upper-content,
  .upper-content {
    margin: 10px 0px;
    display: grid;

    &--list {
      grid-template-columns: 1fr 3fr 1.5fr;
    }

    &__inner-section {
      display: flex;
      align-items: flex-start;
      margin-top: 100px;
    }

    &__summary,
    &__side-actions {
      padding: 10px 20px;
      &--grid {
        padding-top: 0px;
      }
    }

    &__summary {
      & > * {
        margin: 0px;
        color: $color-white;
      }
      h2 {
        font-size: $banner-title-font-size;
        font-weight: bold;
      }
      p {
        padding-top: 10px;
        font-weight: 200;
        text-align: justify;
        padding-right: 30px;
      }
    }
  }
  &__gauge-bar,
  .gauge-bar {
    display: flex;

    &__positive,
    &__negative {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px 0px;
      p {
        margin: 0px;
        color: $color-white;
        font-size: $banner-title-font-size;
        font-weight: 200;
      }
      &--grid {
        p {
          font-size: $reducer-text-font-size;
        }
      }
    }

    &__positive {
      background-color: $color-green-gauge-bar;
    }

    &__negative {
      flex-flow: row-reverse;
      background-color: $color-yellow-gauge-bar;
    }
  }
}
